[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-timeout = "~=3.0.1"

[dev-packages]
black = "*"
flake8 = "*"
pydocstyle = "~=4.0.0"
pytest = "~=6.2.3"
pytest-asyncio = "~=0.15.1"
mypy = "*"