name: aiosocketpool

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "pip"
        cache-dependency-path: |
          requirements.txt
          setup.cfg
          pyproject.toml
    - name: Install dependencies
      run: |
        pip install -q -U pip
        pip install --progress-bar=off -r requirements.txt
        pip install --progress-bar=off .
    - name: Lint
      run: |
        make lint
    - name: Test
      run: |
        make test
